{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Мой аккаунт </title>
    <link rel="stylesheet" href="{% static 'auth_user/css/registration.css' %}">
{% endblock %}
{% block body %}
{% include 'navigation_panel.html' %}
{% if request.user.is_authenticated %}
<h2> Личный кабинет</h2>
<div>
<div>
    <div style="float: left;">
    <img src="{{ photo }}" alt="Аватар пользователя" height="10%" width="8%">
    </div>
<div style="float: left; margin-left: 20px; ">
    <p>Логин: {{ user.username }}</p>
    <p>Имя: {{ user.first_name }}</p>
    <a href="{% url 'edit_photo' %}">Редактировать профиль</a>
</div>
</div>
    <table>
        <thead>
        <tr>
        <th>Тренер</th>
        <th>Время тренировки</th>
        </tr>
        </thead>
        <tbody>
        {% for train in trains %}
        <tr>
        <td>{{ train.trainer }}</td>
        <td>{{ train.time_slot }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p> Войдите в аккаунт </p>
<a href="main"> Вернуться назад </a>
{% endif %}
{% endblock %}
